body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 40px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 500px;
}

label {
  margin-top: 18px;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 14px;
}

input, textarea {
  width: 35%;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #ccc;
  font-size: 15px;
  transition: 0.2s ease;
}

input:focus, textarea:focus {
  border-color: #ffc06e;
  box-shadow: 0 0 6px #ffc06e;
  outline: none;
}

#description {
    height: 150px;
    resize: vertical;
}

button {
    border-radius: .5em;
    padding: 12px 40px;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}

.success-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.success-content {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 320px;
  animation: popUp 0.3s ease;
}

.success-content h2 {
  margin-bottom: 10px;
  font-family: cursive;
}

.success-content p {
  margin-bottom: 20px;
  font-size: 16px;
}

.success-content button {
  background: #ffc06e;
  border: none;
  padding: 12px 40px;
  font-weight: bold;
}

@keyframes popUp {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}