body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
}

h1 {
  font-size: 40px;
  font-family: cursive;
  text-align: center;
  margin-bottom: 30px;
}

#reportsContainer {
  display: grid;
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.card {
  border-left: 6px solid #ff0000;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.card button:hover {
  opacity: 0.9;
}

.resolved {
  background-color: #e8f8f1;
  border-left: 6px solid #2ecc71;
}

.status {
  font-weight: bold;
}
