body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 40px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 500px;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

#description {
    height: 150px;
    resize: vertical;
}