html {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

body{
    background-color: #ffffff;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: cursive;
    animation: Pulse 5s infinite ease-in-out;
}

@keyframes Pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

ul {
    gap: 10px;
    padding: 1px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #ffc06e;
    font-size: 30px;
    border-radius: .5em;
    padding: 25px 80px;
    gap: 1em;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}

section {
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

